body {
    margin: 0;
    background-color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0 75px;
}

.logo img {
    width: 90px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    font-family: "Arimo", sans-serif;
    color: #444444;
    text-decoration: none;
    font-size: 13px;
}

.btn {
    font-family: "Inter", sans-serif;
    background-color: #2857df;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.navbar .btn {
    padding: 10px 28px;
    font-size: 13px;
}

.hero {
    position: relative;
    width: 100%;
    height: 525px;
    overflow: hidden;
}

.banner-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading {
    font-family: "Inter", sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: white;
    text-align: center;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
}

.paragraph {
    font-family: "Inter", sans-serif;
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    line-height: 17px;
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
}

.paragraph p {
    margin: 0;
}

.hero .btn {
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 45px;
    font-size: 14px;
}



/* speaker part */




.speakers {
    font-family: "Inter", sans-serif;
    background-color: white;
    padding: 55px 70px;
}

.speakers h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.speaker-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

.speaker-card {
    border: 1px solid #dddddd;
    border-radius: 7px;
    background-color: white;
}

.speaker-card img {
    display: block;
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-radius: 7px;
}

.speaker-card h6 {
    margin: 18px 18px 8px;
    color: #2857df;
    font-size: 10px;
}

.speaker-card h3 {
    margin: 0 18px 10px;
    font-size: 16px;
    color: black;
}

.speaker-card p {
    margin: 0 18px 20px;
    color: #777777;
    font-size: 11px;
}

/* ///////////////////// */

.pricing {
    padding: 50px 100px 90px;
    background-color: white;
    font-family: "Inter", sans-serif;
}

.para {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 17px;
    padding: 0 0 30px;
}

.pricing h2 {
    margin: 0;
    text-align: center;
    color: #0d1b2a;
    font-size: 42px;
}

.pricing-subtitle {
    margin: 12px 0 50px;
    text-align: center;
    color: #575757;
    font-size: 15px;
}

.pricing-cards {
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pricing-card {
    padding: 30px 28px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #ffffff;
}

.pricing-card h4 {
    margin: 0 0 8px;
    color: #888888;
    font-size: 12px;
}

.pricing-card h3 {
    margin: 0;
    color: #0d1b2a;
    font-size: 40px;
}

.person {
    margin: 2px 0 20px;
    color: #888888;
    font-size: 12px;
    text-align: left;
}

.pricing-card hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #e2e2e2;
}

.pricing-card ul {
    min-height: 150px;
    margin: 0 0 20px;
    padding-left: 15px;
}

.pricing-card li {
    margin-bottom: 12px;
    color: #444444;
    font-size: 13px;
}

.pricing-card li::marker {
    color: #2866ee;
}

.pricing-button {
    width: 100%;
    padding: 12px;

    border-radius: 7px;
    background-color: white;

    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.standard-button {
    color: #2866ee;
    border: 1px solid #2866ee;
}

.pro-card {
    background-color: #0d1b2a;
    border-color: #0d1b2a;
}

.pro-card h4 {
    color: #8ab7ff;
}

.pro-card h3 {
    color: white;
}

.pro-card .person {
    color: #8793a0;
}

.pro-card li {
    color: #d0d6dc;
}

.pro-card hr {
    border-color: #263544;
}

.pro-button {
    color: white;
    background-color: #2866ee;
    border: 1px solid #2866ee;
}

.team-card {
    background-color: #f8f9fb;
}

.contact-button {
    color: #0d1b2a;
    border: 1px solid #0d1b2a;
}

/* ////////////////////////////// */


.faq-section {
    margin: 0, 0, 20px, 0;
    padding: 65px 80px 75px;

    background-color: #dedee278;
    font-family: "Inter", sans-serif;
}

.faq-section h2 {
    margin: 0;
    text-align: center;
    color: #0d1b2a;
    font-size: 38px;
}

.faq-description {
    margin: 12px 0 40px;
    text-align: center;
    color: #666666;
    font-size: 15px;
}

.faq-container {
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.faq-items {
    padding: 20px 22px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

.last-faq {
    grid-column: 1 / 3;
}

.faq-items summary {
    color: #0d1b2a;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.faq-items p {

    color: #666666;
    margin: 15px 0 0;
    text-align: left;
    font-size: 13px;
    line-height: 1.6;
}

/* ///////////////////// */
.footer {
    padding: 25px 160px;
    background-color: #0D1B2A;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    max-width: 1250px;
    /* margin: auto; */
}

.footer p {
    margin: 0;
    color: rgb(155, 154, 154);
    font-size: 12px;
}

.footer-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.footer-links a {
    color: rgb(155, 154, 154);
    text-decoration: none;
    font-size: 12px;
}





